<h1>Make your form here</h1>

<form action="/pirates" method="post">
  <!-- use labels!!! -->

    <label for="pirate_name">Pirate Name: </label>
    <input type="text" name="pirate[name]" id="pirate_name">
    <br>
    <br>
    <label for="weight">Weight: </label>
    <input type="text" name="pirate[weight]" id="weight">
    <br>
    <br>
    <label for="height">Height: </label>
    <input type="text" name="pirate[height]" id="height">

    <!-- ******* SHIPS ********* -->
    <h1>Ships' information:</h1>
    <h3>Ship 2 Info:</h3>
    <label for="ship_name_1">Ship Name: </label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_1">
    <br>
    <br>
    <label for="ship_type_1">Type: </label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_1">
    <br>
    <br>
    <label for="ship_booty_1">Booty: </label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">

    <!-- SHIP 2 DETAILS -->
    <h3>Ship 2 Info:</h3>
    <label for="ship_name_2">Ship Name: </label>
    <input type="text" name="pirate[ships][][name]" id="ship_name_2">
    <br>
    <br>
    <label for="ship_type_2">Type: </label>
    <input type="text" name="pirate[ships][][type]" id="ship_type_2">
    <br>
    <br>
    <label for="ship_booty_2">Booty: </label>
    <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
    <br>
    <br>

    <input type="submit" id="Submit">

</form>
