<h1>Make your form here</h1>

<form method="POST" action="/pirates">
  <label>Pirate Name: </label></br>
  <input type="text" name="pirate[name]" value="" /></br>
  <label>Pirate Height: </label></br>
    <input type="text" name="pirate[height]" value="" /></br>
  <label>Pirate Weight: </label></br>
    <input type="text" name="pirate[weight]" value="" /></br>

    <label>Boat1 Name: </label></br>
    <input type="text" name="boat1[name]" value="" /></br>
    <label>Boat1 Type: </label></br>
      <input type="text" name="boat1[type]" value="" /></br>
    <label>Boat1 Booty: </label></br>
      <input type="text" name="boat1[booty]" value="" /></br>

    <label>Boat2 Name: </label></br>
    <input type="text" name="boat2[name]" value="" /></br>
    <label>Boat2 Type: </label></br>
      <input type="text" name="boat2[type]" value="" /></br>
    <label>Boat2 Booty: </label></br>
      <input type="text" name="boat2[booty]" value="" /></br>

    <input type="Submit" name="Submit" id="Submit" />
</form>
